<nav class="top-bar sticky">
  <img src="https://p.sfx.ms/images/SkyDriveLogoLight.png" />
  <span class="right">{{gravatar-image email=currentUser.email s="30"}}</span>
</nav>

{{#if authRedirectUrl}}

  <p>You must first log into your Sky Drive account.</p>
  <button {{action "openAuthPopup"}}>Login</button>

{{else}}

  <ul class="breadcrumbs sticky">
    <li><a href="#">Home</a></li>
    {{#if parentFolder}}
      FOO
    {{/if}}
    <li class="current">{{name}}</li>
  </ul>

  <div class="large-12 columns">
    <table class="large-12">
      <thead>
        <tr>
          <th>Name</th>
          <th>Kind</th>
          <th>Size (Kb)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each folders}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>folder</td>
            <td>-</td>
          </tr>
        {{/each}}
                {{#each files}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td></td>
          </tr>
        {{/each}}
                {{#each files}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td></td>
          </tr>
        {{/each}}
                {{#each files}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td></td>
          </tr>
        {{/each}}
                {{#each files}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td></td>
          </tr>
        {{/each}}
                {{#each files}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td></td>
          </tr>
        {{/each}}
                {{#each files}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td></td>
          </tr>
        {{/each}}
                {{#each files}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td></td>
          </tr>
        {{/each}}
                {{#each files}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td></td>
          </tr>
        {{/each}}
                {{#each files}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td></td>
          </tr>
        {{/each}}
                {{#each files}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td></td>
          </tr>
        {{/each}}
                {{#each files}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td></td>
          </tr>
        {{/each}}
                {{#each files}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td></td>
          </tr>
        {{/each}}
        {{#each files}}
          <tr>
            <td>[icon] {{name}}</td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  
{{/if}}