<nav class="top-bar">
  <img src="https://p.sfx.ms/images/SkyDriveLogoLight.png" />
  <span class="right">{{gravatar-image email=currentUser.email s="30"}}</span>
</nav>

{{#if authRedirectUrl}}

  <p>You must first log into your Sky Drive account.</p>
  <button {{action "openAuthPopup"}}>Login</button>

{{else}}

  <ul class="breadcrumbs">
    <li class="unavailable"><a href="#">{{currentUser.name}}</a></li>
    <li><a href="a">{{name}}</a></li>
    <li class="current"><a href="#">{{name}}</a></li>
  </ul>

  <div class="large-12 columns">
    <table id="files-table" style="width: 100%;">
      <thead>
        <tr>
          <th>Name</th>
          <th>Kind</th>
          <th>Size (Kb)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each folders}}
          <tr>
            <td>
              {{#linkTo 'files'}}
                <img {{bindAttr src="icon"}} class="icon" align="top"> <span class="filename">{{name}}</span>
              {{/linkTo}}
            </td>
            <td>folder</td>
            <td>-</td>
            <td>&nbsp;</td>
          </tr>
        {{/each}}
        {{#each files}}
          <tr>
            <td><img {{bindAttr src="icon"}} class="icon" align="top"> <span class="filename">{{name}}</span></td>
            <td>{{kind}} <small>{{suffix}}</td>
            <td>{{size}}</td>
            <td class="text-right"><button {{action "attach" this}} class="small button"><i class="icon-signin icon-rotate-90 icon-large"></i></button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  
{{/if}}